<div>
    <label class="radio">
        <input type="radio" name="radiobuttons-{{model.alias}}" id="radiobuttons-{{model.alias}}1" value="1" ng-model="model.value">
        True
    </label>
    <label class="radio">
        <input type="radio" name="radiobuttons-{{model.alias}}" id="radiobuttons-{{model.alias}}2" value="0" ng-model="model.value">
        False
    </label>
    <label class="radio">
        <input type="radio" name="radiobuttons-{{model.alias}}" id="radiobuttons-{{model.alias}}3" value="" ng-model="model.value">
        Not Set
    </label>
    
<!--

<select name="sumTrueFalse" ng-model="model.value">
    <option value=""></option>
    <option value="1">True</option>
    <option value="0">False</option>
</select>
    -->
</div>